extends layout

block css
	link(rel='stylesheet', href='/stylesheets/blog.css')

block scripts
	// override with nothing

block content
	p: a(href="/blog/new") New post
	#articles
		- if(articles.length)
			!= partial('article_list', {collection : articles, as : 'article'})
		- else
			#no-results No articles found. Create one 
				a(href="/blog/new") here
