h1= title
div#login
  form(method="post", action="/login")
    input(type="text", name="username")
    input(type="password", name="password")
    input(type="submit", value="submit")
    #fb-login.fb_button(style='float: left; background-position:left -188px')
      a.fb_button_medium(href='/auth/facebook')
        span#fb_login_text.fb_button_text
          Connect with Facebook
    #twitter-login.fb_button(style='float: left; margin-left: 5px')
      a(href='/auth/twitter', style='border: 0px')
        img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')
